.header-3 {
	text-align:center;
}

.p-intro {
	text-align:center;
}

.li-accBen {
	text-align: center;
	list-style-position: inside;
}

.church-img-div {
    text-align:center;
}

.div-directions {
    text-align:center;
}
.btn-primary {
	width: 200px;
	text-align: center;
}
	