
.div-login {

}

.div-createAcc {
	float:right;
}

.login-intro-div {
	float: left;
}

.header-3 {
	text-align:center;
}

.p-intro {
	text-align:center;
}

.login-intro-div2 {
	float: right;
}

.li-accBen {
	text-align:center;
}

.church-img-div {
	float: right;
}
