#myCarousel {
	width: 75%;
	height: auto;
	display: inline-block;
}
#carContain {
	text-align: center;
}
#carRow {
	border-radius: 10px;
	background-color: gray;
}

#center {
	margin: auto;
	width: 50%;
    border: 3px solid green;
    padding: 10px;
}