
#headImg {
	width: 50%;
	height: 100%;
	float: right;
}
#headTitle {
	color: white;
	font-family: "Courier new", Courier, monospace;
	position: relative;
	min-height: 150px;
}
.header {
	width: 100%;
	background-color: black;
}

